@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</div>

<div class="row">
    <div class="col-md-4">
        <h4>Talon valon tiedot</h4>
        <a href="/TalonValots" class="btn btn-default">Valot</a>
    </div>
    <div class="col-md-4">
        <h4>Talon saunan tiedot</h4>
        <a href="/TalonSaunats" class="btn btn-default">Sauna</a>
    </div>
    <div class="col-md-4">
        <h4>Talon lämmmön tiedot</h4>
        <a href="/TalonLammots" class="btn btn-default">Lämpö</a>
    </div>
</div>