@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    
    
</div>


@* Valaistus *@

<div class="btn group btn-group-vertical btn-lg">

        <h4>Talon valot</h4>
        <a href="/TalonValots" class="btn btn-default">Valot tietokantaan</a>

        <h5> Huone 1 valot</h5>
<label for=Huone1></label><br />
<input id=Huone1 type="range" min=1 max=100 step=0.001 value=10
       onchange="if(this.type=='range')
       {
       document.getElementById('Valon määrä1').textContent = this.value
       }" >
<span id="Valon määrä1">10</span>



    <h5> Huone 2 valot</h5>
<label for=Huone2></label><br />
<input id=Huone2 type="range" min=1 max=100 step=0.001 value=10
       onchange="if(this.type=='range')
       {
       document.getElementById('Valon määrä2').textContent = this.value
       }">
<span id="Valon määrä2">10</span>



    <h5> Huone 3 valot</h5>
<label for=Huone3></label><br />
<input id=Huone3 type="range" min=1 max=100 step=0.001 value=10
       onchange="if(this.type=='range')
       {
       document.getElementById('Valon määrä3').textContent = this.value
       }">
<span id="Valon määrä3">10</span>



    <h5> Huone 4 valot</h5>
<label for=Huone4></label><br />
<input id=Huone4 type="range" min=1 max=100 step=0.001 value=10
       onchange="if(this.type=='range')
       {
       document.getElementById('Valon määrä4').textContent = this.value
       }">
<span id="Valon määrä4">10</span>


  </div>

@* Sauna *@

<div class="btn group btn-group-vertical btn-lg">
  
        <h4>Talon saunat</h4>
        <a href="/TalonSaunats" class="btn btn-default" style="width:140px;">Sauna tietokantaan</a>
   
    <button onclick="StartCount()" class="btn btn-default" style="width:140px;">Sauna On</button> 
    <button onclick="StopCount()" class="btn btn-default" style="width:140px;">Sauna Off</button>
    

    <input type="text" id="Saunan lämpötila" style="width:50px;"> &deg;C
    <input type="text" id="Saunan tavoite lämpötila" style="width:50px;" value="80"> &deg;C
    </div>

@* Lämpö *@

<div class="btn group btn-group-vertical btn-lg">
   
        <h4>Talon lämmmöt</h4>
        <a href="/TalonLammots" class="btn btn-default" style="width:140px;">Lämpö tietokantaan</a>
  

    <button onclick="StartWarm()" class="btn btn-default" style="width:140px;">Huone</button>
    <input type="text" id="Huoneen lämpötila" style="width:50px;"> &deg;C
    <input type="text" id="Huoneen tavoite lämpötila" style="width:50px;" value="20"> &deg;C

    <button onclick="StartWarm()" class="btn btn-default" style="width:140px;">Huone1</button>
    <input type="text" id="Huoneen lämpötila1" style="width:50px;"> &deg;C
    <input type="text" id="Huoneen tavoite lämpötila1" style="width:50px;" value="20"> &deg;C

    <button onclick="StartWarm()" class="btn btn-default" style="width:140px;">Huone2</button>
    <input type="text" id="Huoneen lämpötila2" style="width:50px;"> &deg;C
    <input type="text" id="Huoneen tavoite lämpötila2" style="width:50px;" value="20"> &deg;C

    <button onclick="StartWarm()" class="btn btn-default" style="width:140px;">Huone3</button>
    <input type="text" id="Huoneen lämpötila3" style="width:50px;"> &deg;C
    <input type="text" id="Huoneen tavoite lämpötila3" style="width:50px;" value="20"> &deg;C

</div>


<script>
    // Valaistus

   // tähän tulee valaistuksen asetuksia...........




    // Sauna

    var ce=20;
    var ti;
    var timer_is_on=0;
   

    function timedCount(){
        document.getElementById("Saunan tavoite lämpötila").value=ce;
        ce=ce+1;
        ti=setTimeout(function(){
            timedCount()},
            15000);
    }
    function StartCount(){
        if (timer_is_on){
            timer_is_on=20;
            timedCount();

   }
   function StopCount(){
       clearTimeout(ti);
       timer_is_on=0;

        }
    }


    // Lämmitys

    var c=15;
    var t;
    var timer_is_on=0;

    function timedWarm(){
        document.getElementById("Huoneen tavoite lämpötila").value=c;

        c=c+1;
        t=setTimeout(function()
        {
            timedWarm()
        }, 15000);
    }
    function StartWarm(){

    }
    if (timer_is_on);{
        timer_is_on=0;
        timedWarm();
    }

    function timedWarm(){
        document.getElementById("Huoneen tavoite lämpötila1").value=c;

        c=c+1;
        t=setTimeout(function()
        {
            timedWarm()
        }, 15000);
    }
    function StartWarm(){

    }
    if (timer_is_on);{
        timer_is_on=0;
        timedWarm();
    }

    function timedWarm(){
        document.getElementById("Huoneen tavoite lämpötila2").value=c;

        c=c+1;
        t=setTimeout(function()
        {
            timedWarm()
        }, 15000);
    }
    function StartWarm(){

    }
    if (timer_is_on);{
        timer_is_on=0;
        timedWarm();
    }

    function timedWarm(){
        document.getElementById("Huoneen tavoite lämpötila3").value=c;

        c=c+1;
        t=setTimeout(function()
        {
            timedWarm()
        }, 15000);
    }
    function StartWarm(){

    }
    if (timer_is_on);{
        timer_is_on=0;
        timedWarm();
    }



    // Kello, joka ei toimi..........

    var myVar = setInterval(function () {
        myTimer()
    },
  1000);
    function myTimer() {

        var d = new date();
        var t = d.toLocaleTimeString();
        document.getElementById("time").innerHTML = t;
    }

   
 
</script>